# Angular
node_modules/
dist/
.angular/
*.js
*.js.map
*.d.ts

!prvi domaci - Docker/index.js

# C#
obj/
bin/
*.dll
*.exe
*.pdb
*.obj
*.user
*.suo
*.cache
*.log
*.vs/
*.vscode/
*.config
efpt.config.json